body{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../images/114.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  /*background: black;*/
}
.card{
    width:85%;
    background: transparent;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.9);
    padding: 4em;
    justify-content: center;
}

.card .text-center{
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px
}

.underline{
    width: 23%;
    height: .1rem;
    background: white;
    margin-right: 19.5em;
}

.loader{
    position: fixed;
    width: 225px;
    height: 225px;
    border: 4px solid #f1f1f1;
    border-radius: 50%;
    left: 8em;
    /*overflow: hidden;*/
    /*box-shadow: 10px 10px 05px rgba(255,255,255,1),
                10px 10px 10px rgba(0,0,0,0.1);*/
    margin: 10em;
    top: 15.3em;
            
}

.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 70%;
    margin: -6em;
    margin-top: 0em;
    left: 6em;    
    background: linear-gradient(dodgerblue, #ffeb3b, #ff00e0);
    z-index: -1;
    /*filter: blur(1px);*/
    animation: animates 0.5s linear infinite;
    animation-delay: -7.9s;
}

@keyframes animates{
    0%{
        transform:rotate(0deg);
    }

     100%{
        transform:rotate(360deg);
    }
}

.circle{
    position: fixed;
    width: 470px;
    height: 93vh;
    justify-content: center;
    align-content: center;
    margin: 15em;
    left: 14em;
    top: 5em
}
.circle:before{
    content: '';
    position: absolute;
    top: -8px;
    left: 115px;
    right: 115px;
    bottom: 380px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px #5f5f5f,
                inset 0 0 2px #ecf0f3;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent #0002);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 10px #0f0,
        inset 0 0 10px #0f0;
        filter: hue-rotate(0deg);
    }

      20%{
        box-shadow: 0 0 10px #0f0,
        inset 0 0 10px #0f0;
    }

      40%{
        box-shadow: 0 0 10px #0f0,
        inset 0 0 10px #0f0;
    }

      60%{
        box-shadow: 0 0 10px #0f0,
        inset 0 0 10px #0f0;
    }

      80%{
        box-shadow: 0 0 10px #0f0,
        inset 0 0 10px #0f0;
    }

     100%{
        box-shadow: 0 0 10px #0f0,
        inset 0 0 10px #0f0;
        filter: hue-rotate(360deg);
    }
}

.circle img{
    width: 210px;
    border-radius: 80%;
    height: 33vh;
    margin: 0.3em;
}

label{
    color: white;
    float: left;
}

::placeholder{
    color: white
}

.card .form-control{
    border: none;
    outline: none;
    /*background: none;*/
    top: 15px;
    margin-bottom: 20px;
    border-radius: 18px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
    font-size: 18px;
    color: black;
  }

.card form input[type="submit"]{
  margin-left: 450px;
  z-index: 1; 
  border: none;
  font-weight: 500;
  max-width: 100px;
  padding: 8px;
  cursor: pointer;
}



@media(max-width: 1300px){
body{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../images/48.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  height: 100%;
}

.card{
    width:100%;
    height: 100%;
    background: transparent;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.9);
    padding: 2em;
    justify-content: center;
}

.card .text-center{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0px;
    z-index: 1;
}

.underline{
    width: 50%;
    height: .1rem;
    background: white;
    margin-right: 19.5em;
}


.card .form-control{
    border: none;
    outline: none;
    top: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
    font-size: 18px;
    color: black;
  }

  .loader{
    position: fixed;
    width: 225px;
    height: 225px;
    border: 4px solid #f1f1f1;
    border-radius: 50%;
    left: 8em;
    /*overflow: hidden;*/
    /*box-shadow: 10px 10px 05px rgba(255,255,255,1),
                10px 10px 10px rgba(0,0,0,0.1);*/
    margin: 0em;
    top: 23em;
    left: 4em;
            
}

.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 70%;
    margin: -6em;
    margin-top: 0em;
    left: 6em;    
    background: linear-gradient(dodgerblue, #ffeb3b, #ff00e0);
    z-index: -1;
    /*filter: blur(1px);*/
    animation: animates 0.5s linear infinite;
    animation-delay: -7.9s;
}

@keyframes animates{
    0%{
        transform:rotate(0deg);
    }

     100%{
        transform:rotate(360deg);
    }
}

.circle{
    display: none;
}

.card form input[type="submit"]{
  margin-left: 30px;
  z-index: 1; 
  border: none;
  font-weight: 500;
  max-width: 100px;
  padding: 8px;
  cursor: pointer;
}




 }
